# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
.angular

# Dependencies
/node_modules
npm-debug.log
yarn-error.log

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# VSCode
.vscode/*
!.vscode/settings.json.example

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
