<section class="bg-white py-16 px-8">
    <div class="container mx-auto max-w-5xl flex flex-col md:flex-row items-center space-y-8 md:space-y-0 md:space-x-12">
      
      <!-- Ícone -->
      <div class="about-icon flex-shrink-0">
        <img src="assets/Logo/Mascot Logo.png" alt="Ícone About" class="w-[250px] h-[250px]">
      </div>
  
      <!-- Conteúdo -->
      <div class="flex-1 text-left">
        
        <!-- Título -->
        <h2 class="about-title text-3xl md:text-4xl font-bold text-[#1e1730] leading-tight">
          O que é Transfer<span class="text-[#e5305e]">Music</span> ?
        </h2>
        
        <!-- Subtítulo -->
        <p class="about-subtitle text-[#1e1730]-700 text-lg mt-4 leading-relaxed">
            Por décadas, nossa relação com a música passou por diversas transformações. Lembramos com
            nostalgia dos tempos em que colecionávamos discos de vinil, fitas cassete e CDs, e cada peça 
            carregava histórias e emoções únicas. Hoje, com a ascensão dos serviços de streaming, a forma de 
            curtir nossas músicas mudou radicalmente. Porém, essa nova realidade também traz desafios: 
            como migrar aquela playlist especial de um serviço para outro? Ou converter uma coleção de 
            arquivos MP3 na sua biblioteca digital?<br><br>
            É aí que o <strong>TransferMusic</strong> entra em cena. Nosso serviço possibilita a transferência de playlists entre 
            plataformas como <b>Spotify</b>, <b>Deezer</b>, <b>YouTube Music</b> e muitas outras, facilitando o acesso às suas músicas 
            favoritas sem complicações. Experimente e redescubra a forma de curtir sua trilha sonora pessoal, 
            sempre no ritmo que você escolher!
        </p>

      </div>
    </div>
  </section>
  