<div class="footer__container">
    <div class="footer__logo">
      <!-- Troque a imagem para a sua logo do ITransferMusic -->
      <img
        src="assets/Logo/Logo ITransferMusic com Cores Fundo Roxo.png"
        alt="ITransferMusic logo"
        width="300px"
        height="300px"
      />
    </div>
  
    <div class="footer__info">
      <!-- Coluna 1 -->
      <div class="footer__section">
        <h3>ITransferMusic</h3>
        <ul>
          <li><a href="#">Início</a></li>
          <li><a href="#">Iniciar sessão</a></li>
          <li><a href="#">Minhas configurações</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Planos</a></li>
        </ul>
      </div>
  
      <!-- Coluna 2 -->
      <div class="footer__section">
        <h3>AJUDA</h3>
        <ul>
          <li><a href="#">Perguntas Frequentes</a></li>
          <li><a href="#">Entre em contato</a></li>
        </ul>
      </div>
  
      <!-- Coluna 3 -->
      <div class="footer__section">
        <h3>LEGAL</h3>
        <ul>
          <li><a href="#">Termos de Uso</a></li>
          <li><a href="#">Política de Privacidade</a></li>
        </ul>
      </div>
  
      <!-- Coluna 4: Redes Sociais -->
      <div class="footer__section">
        <h3>FOLLOW US</h3>
        <ul class="footer__socials">
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </li>
          
        </ul>
      </div>
    </div>
  
    <div class="footer__rights">
      <p>All rights reserved ITransferMusic 2025 ©</p>
    </div>
  </div>
  